<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryGameBaseball"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@menu/menu_main" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="First Level Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- Primera actividad para el primer nivel -->
        <activity
            android:name=".FirstLevelActivity"
            android:label="First Level Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- Segunda actividad para el segundo nivel -->
        <activity
            android:name=".SecondLevelActivity"
            android:label="Second Level Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- Tercera actividad para el tercer nivel -->
        <activity
            android:name=".ThirdLevelActivity"
            android:label="Third Level Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- Cuarta actividad para el cuarto nivel -->
        <activity
            android:name=".FourthLevelActivity"
            android:label="Fourth Level Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- Puntaje final -->
        <activity
            android:name=".ScoreSummaryActivity"
            android:label="Score Summary Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <!-- Puntaje final -->
        <activity
            android:name=".ContactActivity"
            android:label="Contacto Activity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

    </application>

</manifest>